[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.16.5"
tensorflow = "==1.8.0"
h5py = "==2.9.0"
Flask = "==1.1.1"
Keras = "==2.1.5"
Pillow = "==8.2.0"
pandas = "==0.25.3"
sklearn = "*"
lightgbm = "*"

[requires]
python_version = "3.6"
